/* .About {
  min-height: 100vh; /* Change to min-height 
background-image: linear-gradient(#292925, #11100e);
background-size: 100% 100%; /* Change to cover the entire background 
  background-repeat: no-repeat;
} */
