.col-12 .blah {
  color: #292925;
}

.modal-content {
  background-color: #30302d;
}

.modal-title {
  color: #c896e0;
}

.modal-body {
  color: #c0c0c0;
}

.btn.home {
  margin-top: 13px;
  background-color: #c895e0;
  border-color: #c895e0;
  font-weight: 600;
  color: #292925;
}

.btn.home:hover {
  background-color: #292925;
  border-color: #30302d;
  color: #c0c0c0;
}

.btn.home:active {
  background-color: #c895e0;
  border-color: #c895e0;
  font-weight: 600;
  color: #292925;
}

.btn.home:hover::after {
  background-color: #292925;
  border-color: #30302d;
  color: #c0c0c0;
}

.svg:hover::after {
  background-color: #292925 !important;
  border-color: #30302d !important;
  color: #c0c0c0 !important;
}

.svg:hover {
  background-color: #292925 !important;
  border-color: #30302d !important;
  color: #c0c0c0 !important;
}
